.main-video {
  position: absolute;
  top: 0;
  left: 0;
  //bottom: 0;
  right: 0;
  //overflow: hidden;
  //overflow-y: auto;
  .bg {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;

    &::after {
      position: absolute;
      top: 100%;
      width: 100%;
      height: 200px;
      transform: translate(0, -50%);
      display: inline-block;
      content: '';
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, $dark 50%);
    }

    video {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .panel {
    position: absolute;
    z-index: 2;
    width: 69.4792vw;
    height: auto;
    top: 5.1063vw;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    filter: drop-shadow(0px 0px 8px #08D7F9);

    img {
      width: 100%;
      height: auto;
    }
  }
}

.panel-right, .panel-left {
  position: absolute;
  right: -1.5vw;
  top: 50%;
  height: 12.5000vw;
  width: 2.1875vw;;
  transform: translate(0, -50%);
  overflow: hidden;

  ul {
    position: absolute;
    bottom: 35%;
    left: 0;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: movingSpeed 16s linear infinite;

    li {
      font-style: normal;
      font-weight: 400;
      font-size: 0.5208vw;
      line-height: 130%;
      text-transform: uppercase;
      color: #5EEBF0;
      margin-bottom: 1.7417vw;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.panel-left {
  right: auto;
  left: 4.5vw;

  ul {
    animation: movingSpeed 24s linear infinite;

  }
}

.panel-top {
  position: absolute;
  top: 2.1875vw;
  left: 50%;
  transform: translate(-50%, 0);
  width: 12.5000vw;
  overflow: hidden;
  height: 2.1875vw;

  ul {
    width: auto;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 2.1875vw;
    animation: movingAngle 12s linear infinite;

    li {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      margin-right: 1.0417vw;

      &:last-child {
        margin-right: 0;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 0.5208vw;
        line-height: 130%;
        text-transform: uppercase;
        color: #5EEBF0;

      }

      &::after {
        height: 0.3646vw;
        width: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: inline-block;
        content: '';
        background: #5EEBF0;
      }

      &:nth-child(1), &:nth-child(3n + 1) {
        &::after {
          height: 0.8333vw;
        }
      }
    }
  }
}

@keyframes movingSpeed {
  0% {
    bottom: 35%;
  }
  10% {
    bottom: 15%;
  }
  20% {
    bottom: 7%;
  }
  23% {
    bottom: 0%;
  }
  25% {
    bottom: -45%;
  }
  30% {
    bottom: -65%;
  }
  40% {
    bottom: -80%;
  }
  50% {
    bottom: -55%;
  }
  60% {
    bottom: -45%;
  }
  70% {
    bottom: -35%;
  }
  80% {
    bottom: 15%;
  }
  90% {
    bottom: 20%;
  }
  100% {
    bottom: 35%;
  }

}

@keyframes movingAngle {
  0% {
    left: 50%;
  }
  10% {
    left: 70%;
  }
  20% {
    left: 80%;
  }
  30% {
    left: 100%;
  }
  40% {
    left: 40%;
  }
  50% {
    left: 30%;
  }
  60% {
    left: -20%;
  }
  70% {
    left: -40%;
  }
  80% {
    left: 0%;
  }
  90% {
    left: 40%;
  }
  100% {
    left: 50%;
  }
}

main {
  overflow-y: auto;
  max-height: 100vh;
}

.control-screen {

}

.global-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  //overflow: hidden;
  //overflow-y: auto;
}

.control-screen {
  position: absolute;
  background: #010101;
  border: 1px solid red;
  //top: 27.7vw;
  //right: 11vw;
  //width: 40.5vw;
  //height: 27.4vw;

  top: 28.7vw;
  right: 11vw;
  width: 40.5vw;
  height: 24.4vw;

  padding: 1.8229vw 1.3vw 1.8229vw 2.1354vw;
}

.control-screen__side {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6.5px);
  border-radius: 6px 0 0 6px;
  padding: 0.8854vw 1.6667vw 1.3792vw;
  width: 28.6979vw;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.0417vw;
  line-height: 1.3;
  text-transform: uppercase;
  color: #5EEBF0;
}

.production-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 0.3125vw;

  ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.6771vw;
    counter-reset: my-awesome-counter2;

    li {
      counter-increment: my-awesome-counter2;
      font-style: normal;
      font-weight: 400;
      font-size: 0.6771vw;
      line-height: 130%;
      color: #ACACAC;

      &:last-child {
        margin-bottom: 2px;
      }

      &::before {
        content: counter(my-awesome-counter2) ". ";
      }
    }
  }
}

.list-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.single-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 0.5729vw;
  padding-bottom: 0.5729vw;
  margin-bottom: 0.3125vw;

  &:last-child {
    margin-bottom: 0;
  }

  position: relative;

  &::after {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    content: '';
    background: linear-gradient(90deg, #000000 0%, #08D7F9 20%, #059097 40%, #006FFB 60%, #004398 80%, #002A5F 90.62%, #000000 100%);
    z-index: 0;
  }

  .img {
    width: 5.6771vw;
    height: 5.6771vw;
    border: 2px solid #08D7F9;
    filter: drop-shadow(0px 0px 8px #08D7F9);
    border-radius: 6px;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 0.9896vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  .text {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 0.7813vw;
      line-height: 130%;
      color: #5EEBF0;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 0.6771vw;
      line-height: 130%;
      color: #ACACAC;
    }
  }
}

.control-side__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.0417vw;

  .img {
    height: 2.6563vw;
    width: auto;
    margin-right: 1.2500vw;

    img, svg {
      height: 100%;
      width: auto;

      path {
        fill: #FF5C00;
      }
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.7813vw;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FF5C00;
  }
}

.control-side__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.control-side__link {
  width: 100%;
  position: relative;
  margin-bottom: 0.2083vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.4688vw 0.3646vw;

  font-style: normal;
  font-weight: 400;
  font-size: 0.5729vw;
  line-height: 1.3;
  text-transform: uppercase;
  color: #059097;

  transition: color 0.3s ease, border 0.3s ease;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);

  &::before, &::after {
    width: 100%;
    height: 0.2083vw;
    background: url("../img/text-border.svg") no-repeat center / 100% 100%;
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;

  }

  &::before {
    top: -1px;
  }

  &::after {
    bottom: -1px;
    transform: rotateZ(180deg);
  }


  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: #5EEBF0;
    transition: color 0.3s ease, border 0.3s ease;
    border-top: 1px solid #08D7F9;
    border-bottom: 1px solid #08D7F9;

    &::before, &::after {


    }
  }
}

.control-screen__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.6771vw;
    line-height: 130%;
    color: #ACACAC;
    margin-bottom: 0.4688vw;
  }

  .main-title {
    margin-bottom: 0.4688vw;
  }
}

.main-video .bg {
  overflow: hidden;
}

.title-line {
  width: 100%;
  padding: 0.3125vw 0;
}

.line {
  width: 100%;
  height: 1px;
  position: relative;
  background: linear-gradient(90deg, #000000 0%, #08D7F9 20%, #059097 40%, #006FFB 60%, #004398 80%, #002A5F 90.62%, #000000 100%);

  &::after, &::before {
    background: rgba(255, 255, 255, 0);
    border: 1px solid #08D7F9;
    width: 0.3646vw;
    height: 0.3646vw;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    display: inline-block;
    content: '';

  }

  &::after {
    right: 0;
    transform: translate(50%, -50%);
    animation: afterBump 10s linear infinite;
  }

  &::before {
    left: 0;
    transform: translate(-50%, -50%);
    animation: beforeBump 10s linear infinite;
  }

  .ball {
    width: 0.4167vw;
    height: 0.4167vw;

    background: #5EEBF0;
    box-shadow: 0px 1px 5px 2px #08D7F9;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translate(0, -50%);
    animation: ballMoving 10s linear infinite;

  }
}

@keyframes beforeBump {
  0% {
    background: #5EEBF0;
    box-shadow: 0px 1px 5px 2px #08D7F9;
  }
  30% {
    background: #5EEBF0;
    box-shadow: 0px 1px 5px 2px #08D7F9;
  }
  50% {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 5px 2px rgba(8, 215, 249, 0);
  }
  90% {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 5px 2px rgba(8, 215, 249, 0);
  }
  100% {
    background: #5EEBF0;
    box-shadow: 0px 1px 5px 2px #08D7F9;
  }
}


@keyframes afterBump {
  0% {

    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 5px 2px rgba(8, 215, 249, 0);

  }
  41% {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 5px 2px rgba(8, 215, 249, 0);
  }
  50% {
    background: #5EEBF0;
    box-shadow: 0px 1px 5px 2px #08D7F9;
  }
  80% {
    background: #5EEBF0;
    box-shadow: 0px 1px 5px 2px #08D7F9;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 5px 2px rgba(8, 215, 249, 0);
  }
}

@keyframes ballMoving {
  0% {
    left: 0.2083vw;
  }
  50% {
    left: calc(100% - 0.6250vw);
  }
  100% {
    left: 0.2083vw;
  }
}

.control-center {
  flex-grow: 1;
  overflow-y: auto;
  width: calc(100% + 20px);
  padding-right: 10px;
  margin-top: 0.5208vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.semi-title {
  font-style: normal;
  font-weight: 700;
  font-size: 0.8333vw;
  line-height: 1.3;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.5208vw;
}


.slider-members {
  width: 100%;
  padding-top: 0.7292vw;
  padding-bottom: 0.7292vw;
  padding-left: 1.6146vw;
  padding-right: 1.6146vw;
  position: relative;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
  margin-top: -10px;
  margin-bottom: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;


  .swiper-slide {
    flex-shrink: 0;
  }
}

.member-slide {
  display: flex;
  position: relative;
  padding: 0.7292vw 0.5333vw 0.2083vw;
  box-sizing: border-box;

  .info {
    height: 100%;
    width: 100%;

    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 0.6250vw;
      line-height: 1.33;
      text-transform: uppercase;
      color: #059097;
      margin-top: auto;
      text-align: center;
      transition: color 0.3s ease;
    }

  }

  .img {
    width: 4.3229vw;
    height: 1.9271vw;
    margin-bottom: 0.7292vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .sld-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
      width: 100%;
      height: 100%;
      filter: drop-shadow(0px 0px 8px #08D7F9);
      transition: filter 0.3s ease;

      path {
        transition: fill 0.3s ease;

        &.first {
          fill: #66EDEE;
        }

        &.second {
          fill: #059097;
        }
      }
    }
  }

  &:hover {
    .info {
      p {
        transition: color 0.3s ease;
        color: #FF5C00;
      }
    }

    .sld-bg {
      svg {
        transition: filter 0.3s ease;
        filter: drop-shadow(0px 0px 8px #FF5C00);

        path {
          transition: fill 0.3s ease;

          &.second {
            fill: #FF5C00;
          }

          &.first {
            fill: #FF8A00;
          }
        }
      }
    }
  }
}

.slider-btn {
  width: 1.0417vw;
  height: 1.0417vw;
  position: absolute;
  top: 50%;
  filter: drop-shadow(0px 0px 4px #08D7F9);
  transition: filter 0.4s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: #66EDEE;
      transition: fill 0.4s ease;
    }
  }

  &.slider-btn--prev {
    left: 0;
    transform: translate(0, -50%);
  }

  &.slider-btn--next {
    right: 0;
    transform: translate(0, -50%) rotate(180deg);
  }

  &:hover {

    filter: drop-shadow(0px 0px 4px #FF5C00);
    transition: filter 0.4s ease;

    svg {

      path {
        fill: #FF5C00;
        transition: fill 0.4s ease;
      }
    }
  }

  &.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.our-specs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 0.7vw;

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 0.6771vw;
    line-height: 130%;
    color: #ACACAC;
    margin-bottom: 0.5208vw;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.7292vw;
    line-height: 130%;
    color: #5EEBF0;
    padding: 0.4167vw 10px;

    position: relative;

    &::before, &::after {
      width: 100%;
      height: 4px;
      background: url("../img/text-border.svg") no-repeat center / 100% 100%;
      display: inline-block;
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      transform: rotateZ(180deg);
    }
  }
}

.wheel {
  //border: 1px solid red;
  width: 15.6250vw;
  left: 20.5vw;
  height: 4vw;
  top: 36.1vw;
  position: absolute;
  padding: 0.6771vw;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.bg-wheel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0px 0px 8px #08D7F9);
  }
}

.wheel-slider-cont {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 2;
  padding-left: 1.4063vw;
  padding-right: 1.4063vw;

  .wheel-slider {
    overflow: visible;
  }

  .swiper-wrapper {
    transform: none !important;
  }
}

.wheel-slider {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wheel-slide {
  //position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  .img {
    width: auto;
    height: 1.1979vw;
    display: flex;
    align-items: center;
    justify-content: center;

    img, svg {
      width: auto;
      height: 100%;

      path {
        fill: #059097;
        transition: fill 0.3s ease;
      }
    }
  }

  .text {
    width: 9.8958vw;
    display: flex;
    padding: 7px;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 0.4208vw;
    border: 1px solid #059097;
    backdrop-filter: blur(2px);
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 0.5208vw;
      line-height: 1.3;
      text-transform: uppercase;
      color: #5EEBF0;
    }
  }

  .fold {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      top: 1px;
      left: 0;
      width: 100%;
      height: calc(100% - 2px);
      position: absolute;
      display: inline-block;
      content: '';
      box-sizing: border-box;
      pointer-events: none;
      border: 1px solid rgba(255, 255, 255, 0);
      transition: opacity 0.3s ease, filter 0.3s ease, border 0.3s ease;

    }

    filter: drop-shadow(0px 0px 8px #08D7F9);
    transition: opacity 0.3s ease, filter 0.3s ease, border 0.3s ease;

    svg {
      //1 4 69 42
      width: 100%;
      height: 100%;

      path {
        stroke: #059097;
        transition: stroke 0.3s ease;
      }
    }
  }

  &:hover {
    .fold {
      svg {
        path {
          stroke: #FF5C00;
          transition: stroke 0.3s ease;
        }
      }
    }

    .img {
      img, svg {
        path {
          fill: #FF5C00;
          transition: fill 0.3s ease;
        }
      }
    }

    .text {
      opacity: 1;
      pointer-events: auto;
    }

    &:nth-child(3n - 1) {
      .fold {
        &::after {
          border-color: #FF5C00;
          transition: opacity 0.3s ease, filter 0.3s ease, border 0.3s ease;

        }
      }
    }
  }

  &:nth-child(3n - 1) {
    .fold {
      img, svg {
        opacity: 0;

      }

      &::after {
        border: 1px solid #059097;
        transition: opacity 0.3s ease, filter 0.3s ease, border 0.3s ease;

      }

      filter: drop-shadow(0px 0px 8px #08D7F9);
      transition: opacity 0.3s ease, filter 0.3s ease, border 0.3s ease;

    }
  }

  &:nth-child(3n) {
    .fold {
      transform: rotateY(180deg);
    }
  }

  position: absolute;
  top: 0;
  left: 0;

  &:nth-child(3n-1) {
    left: calc(((100% / 3) - (18px / 3)) + 9px);
  }

  &:nth-child(3n) {
    left: auto;
    right: 0;
    margin-right: 0 !important;
  }

  transform-style: preserve-3d;
  //perspective: 400px;
  transform-origin: 50% 50%;
  transform: perspective(200px) rotateY(-180deg);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.3s ease;

  &:nth-child(3n - 1) {
    transform: perspective(200px) rotateX(-180deg);
  }

  &:nth-child(3n) {
    transform: perspective(200px) rotateY(180deg);
  }


  &.swiper-slide-active, &.swiper-slide-next, &.swiper-slide-next + .swiper-slide {
    opacity: 1;
    pointer-events: auto;
    transform: perspective(200px) rotateY(0deg) rotateX(0);
  }
}

.wheel-slider {
  .swiper-wrapper {
    position: relative;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1.6667vw;
  padding-right: 0.9896vw;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  z-index: 10;

  &::after {
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    content: '';
    background: linear-gradient(90deg, #000000 0%, #08D7F9 20%, #059097 40%, #006FFB 60%, #004398 80%, #002A5F 90.62%, #000000 100%);
    z-index: 0;
  }

  .container {
    max-width: 100%;
    padding: 0;
  }
}

.header-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .logo {
    height: 2.9688vw;
    width: auto;
    display: flex;
    margin-right: 3.1250vw;
    flex-shrink: 0;

    a, img {
      display: flex;
      height: 100%;
      width: auto;
    }
  }
}

.header-center {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  height: 100%;
  margin-right: 10px;
}

.menu {
  height: 100%;

  > ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    > li {
      margin-right: 0.5208vw;

      &:last-child {
        margin-right: 0;
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.6667vw 1.3021vw;
        position: relative;

        font-family: $second-font;
        font-style: normal;
        font-weight: 700;
        font-size: 0.8333vw;
        line-height: 1;
        text-transform: uppercase;

        color: #A8A8A8;
        text-shadow: -1px -1px 0 rgba(255, 255, 255, 0),
        0   -1px 0 rgba(255, 255, 255, 0),
        1px -1px 0 rgba(255, 255, 255, 0),
        1px 0 0 rgba(255, 255, 255, 0),
        1px 1px 0 rgba(255, 255, 255, 0),
        0 1px 0 rgba(255, 255, 255, 0),
        -1px 1px 0 rgba(255, 255, 255, 0),
        -1px 0 0 rgba(255, 255, 255, 0), 0 2px 1.1458vw rgba(255, 255, 255, 0);
        transition: color 0.3s ease, text-shadow 0.3s ease, text-shadow 0.3s ease;

        &::before {
          width: 100%;
          height: 3px;
          background: rgba(255, 255, 255, 0);
          position: absolute;
          z-index: 1;
          display: inline-block;
          content: '';
          top: 0;
          left: 0;
          transition: background-color 0.3s ease;
        }

        &::after {
          top: 3px;
          width: 100%;
          height: 2.9167vw;
          display: inline-block;
          content: '';
          background: radial-gradient(50% 64.29% at 50% 117.86%, #5FECEF 0%, rgba(44, 87, 198, 0) 100%);
          position: absolute;
          opacity: 0;
          transition: opacity 0.3s ease;
          transform: rotate(180deg);
        }
      }

      &.current-menu-item, &:hover {
        > a {

          color: #0C2442;

          text-shadow: -1px -1px 0 #5FECEF,
          0   -1px 0 #5FECEF,
          1px -1px 0 #5FECEF,
          1px 0 0 #5FECEF,
          1px 1px 0 #5FECEF,
          0 1px 0 #5FECEF,
          -1px 1px 0 #5FECEF,
          -1px 0 0 #5FECEF;
          filter: drop-shadow(0 2px 1.1458vw #5FECEF);
          transition: color 0.3s ease, text-shadow 0.3s ease, text-shadow 0.3s ease;

          &::before {
            background: #5FECEF;
            transition: background-color 0.3s ease;

          }

          &::after {
            opacity: 1;
            transition: opacity 0.3s ease;

          }
        }
      }
    }
  }
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-icon {
  width: 1.7708vw;
  height: 1.7708vw;
  background: #000;
  padding: 0.2604vw;
  background: rgba(44, 44, 44, 0.7);
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease, opacity 0.3s ease;
  }

  &:hover, &.active {
    background: rgba(0, 224, 255, 1);
    transition: background-color 0.3s ease;

    img {
      filter: brightness(0);
      opacity: 0.6;
      transition: filter 0.3s ease, opacity 0.3s ease;

    }
  }

  &.active {
    border-radius: 0 6px 6px 0;

    & + .search-input {
      width: 10.2792vw;
    }
  }
}

.header-search__wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;

  &.ready {
    .result-search {
      opacity: 1;
      pointer-events: auto;
    }
  }

}

.search-input {
  overflow: hidden;
  width: 0;
  transition: width 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  input {
    padding: 0.2083vw 0.5208vw;
    font-size: 0.7292vw;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
    height: 1.7708vw;
    width: 100%;
    border-radius: 6px 0 0 6px;
    background: rgba(44, 44, 44, 0.7);
    border: 1px solid rgba(0, 224, 255, 1);

  }
}

.header-right {

  & > * {
    margin-right: 1.3542vw;
    position: relative;
    padding-right: 1.3542vw;

    &::after {
      height: 1.5625vw;
      width: 1px;
      background: rgba(255, 255, 255, 0.2);
      display: inline-block;
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &::after {
        content: none;
      }
    }
  }

  .mail, .tel {
    font-family: $second-font;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8333vw;
    line-height: 1;

    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
      text-decoration: underline;
    }
  }

  .lang {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &::after {
        display: inline-block;
        content: '/';
        margin-left: 4px;
        margin-right: 4px;
        font-style: normal;
        font-weight: 700;
        font-size: 0.8333vw;
        line-height: 1;
        text-transform: uppercase;

        color: #A8A8A8;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      a {
        font-style: normal;
        font-weight: 700;
        font-size: 0.8333vw;
        line-height: 1;
        text-transform: uppercase;
        color: #A8A8A8;
        transition: text-shadow 0.3s ease;

        &:hover {
          text-shadow: -1px -1px 0 #5FECEF,
          0   -1px 0 #5FECEF,
          1px -1px 0 #5FECEF,
          1px 0 0 #5FECEF,
          1px 1px 0 #5FECEF,
          0 1px 0 #5FECEF,
          -1px 1px 0 #5FECEF,
          -1px 0 0 #5FECEF;
        }
      }

      span {
        font-style: normal;
        font-weight: 700;
        font-size: 0.8333vw;
        line-height: 1;
        text-transform: uppercase;
        color: #0C2442;

        text-shadow: -1px -1px 0 #5FECEF,
        0   -1px 0 #5FECEF,
        1px -1px 0 #5FECEF,
        1px 0 0 #5FECEF,
        1px 1px 0 #5FECEF,
        0 1px 0 #5FECEF,
        -1px 1px 0 #5FECEF,
        -1px 0 0 #5FECEF;
      }
    }
  }
}

.result-search {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  z-index: 4;
  padding-right: 1.3542vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  ul {
    border: 1px solid #5FECEF;
    border-radius: 0 0 6px 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    li {
      width: 100%;

      a {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        font-size: 0.6250vw;
        line-height: 1.2;
        padding: 0.3125vw 0.2604vw;
        border-bottom: 1px solid #5FECEF;
        background: rgba(44, 44, 44, 0.7);
        color: #fff;
      }

      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }

}

.menu-item-has-children {
  z-index: 2;

  &:hover {
    .sub-menu {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.sub-menu {
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(7px);
  padding: 1.7708vw 4.1667vw 1.4583vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &::after {
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    content: '';
    background: linear-gradient(90deg, #000000 0%, #08D7F9 20%, #059097 40%, #006FFB 60%, #004398 80%, #002A5F 90.62%, #000000 100%);
    z-index: 0;
  }

  > span {
    font-style: normal;
    font-weight: 700;
    font-size: 1.0417vw;
    line-height: 1.3;
    text-transform: uppercase;
    color: #5EEBF0;
    display: inline-block;
    margin-bottom: 1.5104vw;
    text-align: center;
  }
}

.sub-menu-slider {
  width: 100%;
  padding-left: 3.3333vw;
  padding-right: 3.3333vw;
  position: relative;
}

.sub-slider {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.sub-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  p {
    margin-top: 0.5208vw;

    font-style: normal;
    font-weight: 400;
    font-size: 0.7813vw;
    line-height: 1.33;
    text-transform: uppercase;
    color: #059097;
    text-align: center;
    transition: color 0.3s ease;
  }

  .img {
    width: 100%;
    height: 9.1146vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      height: 5.2083vw;
      width: auto;
    }

    > img, > svg {
      width: auto;

      path {
        fill: #059097;
        transition: fill 0.3s ease;
      }
    }

  }


  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
      width: 100%;
      height: 100%;
      filter: drop-shadow(0px 0px 8px #08D7F9);
      transition: filter 0.3s ease;

      path {
        transition: fill 0.3s ease;

        &.first {
          fill: #66EDEE;
        }

        &.second {
          fill: #059097;
        }
      }
    }
  }

  &:hover, &.current-menu-item {
    p {
      color: #FF5C00;
      transition: color 0.3s ease;
    }

    .bg {
      svg {
        transition: filter 0.3s ease;
        filter: drop-shadow(0px 0px 8px #FF5C00);

        path {
          transition: fill 0.3s ease;

          &.second {
            fill: #FF5C00;
          }

          &.first {
            fill: #FF8A00;
          }
        }
      }
    }

    .img {
      > img, > svg {

        path {
          fill: #FF5C00;
          transition: fill 0.3s ease;
        }

      }
    }
  }
}

.pages {
  display: none
}

@media screen and (max-width: 1050px) {

  .search-icon.active + .search-input {
    width: 11.5vw;
  }
  .header-cont .logo {
    height: 2.7vw;
  }
  .menu > ul > li > a {
    padding: 1.2667vw 1.0021vw;
  }
  .menu-item-has-children:hover {
    .sub-menu {
      opacity: 0;
      pointer-events: none;
    }
  }
  .menu-item-has-children.show {
    .sub-menu {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-right .mail, .header-right .tel {
    font-size: 3.3333vw;
    margin-bottom: 4.1667vw;
  }
  .header-right .mail {
    text-decoration: underline;
  }
  .header-right .lang li a, .header-right .lang li span {
    font-size: 3.8889vw;
  }
  .header-right .lang li::after {
    font-size: 3.8889vw;
    margin-left: 1.3889vw;
    margin-right: 1.3889vw;
  }
  .header-search {
    margin-bottom: 4.1667vw;
  }
  .header-search__wrap {
    width: 100%;
  }
  .header-search {
    width: 100%;
  }
  .search-input input{
    height: 9.4444vw;
    padding: 1.1111vw 1.6667vw;
    font-size: 3.3333vw;
  }
  .result-search {
    //opacity: 1;
    //pointer-events: auto;
    padding-right: 0;
  }
  .result-search ul li a {
    font-size: 12px;
    padding: 4px 6px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header-right>* {
    margin-right: 0;
    padding-right: 0;
    &::after {
      content: none;
    }
  }
  .search-input, .search-icon.active+.search-input {
    width: calc(100% - 34px);
  }
  .header-right {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .search-icon {
    width: 34px;
    height: 34px;
    padding: 5px;
    border-radius: 0 6px 6px 0;
  }



  .sub-menu {
    position: static;
  }
  .pages {
    display: flex;
    width: 100%;
  }
  .sub-menu-slider {
    display: none;
  }
  .burger {
    display: flex;
    margin-left: auto;
    width: 8.8889vw;
    height: 6.1111vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    span {
      width: 100%;
      height: 2px;
      background: #5FECEF;
      border-radius: 4px;
      display: inline-block;
    }
  }
  .header {
    padding: 2.2222vw 4.1667vw;

  }
  .header-cont {
    .logo {
      height: 11.1224vw;
      margin-right: 4.1667vw;
    }
  }
  .header-center {
    display: flex;
    position: absolute;
    top: 100%;
    height: calc(100vh - 15.5556vw);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);

    padding: 4.1667vw 4.1667vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
  }
  .header-right {
    width: 100%;
    margin-left: 0;
  }
  .header-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2.7778vw;
    padding-bottom: 2.7778vw;
    height: auto;
    position: relative;

    &::after {
      position: absolute;
      left: -4.1667vw;
      right: -4.1667vw;
      height: 1px;
      display: inline-block;
      content: '';
      bottom: 0;

      background: linear-gradient(90deg, #000 0, #08d7f9 20%, #059097 40%, #006ffb 60%, #004398 80%, #002a5f 90.62%, #000 100%);
    }
  }
  .menu {
    height: auto;

    > ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      > li {
        width: 100%;

        > a {
          padding: 2.5000vw 1.6667vw;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 3.3333vw;

          &::before {
            bottom: 0;
            top: auto;
            height: 2px;
          }

          &::after {
            bottom: 2px;
            top: auto;
            transform: rotate(0);
          }
        }

        &.menu-item-has-children {
          position: relative;
          box-sizing: border-box;

          &::after {
            width: 1.9444vw;
            height: 1.9444vw;
            border: 1px solid #00E0FF;
            display: inline-block;
            content: '';
            border-left-color: rgba(255, 255, 255, 0);
            border-top-color: rgba(255, 255, 255, 0);
            position: absolute;
            top: 30%;
            right: 0;
            transform: translate(0, -50%) rotate(45deg);
          }
        }
      }
    }
  }
  main {
    max-height: none;
  }
  .main-video {
    position: fixed;
  }

  .title-wrap p {
    font-size: 3.3333vw;
    margin-bottom: 1.6667vw;
  }
  .wheel-slider-cont {
    display: none;
  }
  .main-video .bg::after {
    height: 27.7778vw;
  }
  .global-wrapper {
    position: static;
  }
  .control-screen {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    width: 100%;
    margin-top: 56.2500vw;
    height: auto;
  }
  .control-screen {
    padding: 5.5556vw 4.1667vw 7.5000vw;
  }
  .title-line {
    padding: 1.6667vw 0;
  }
  .control-center {
    margin-top: 2.7778vw;
  }
  .semi-title {
    font-size: 3.8889vw;
    margin-bottom: 2.2222vw;
  }
  .slider-members {
    padding-left: 5.0000vw;
    padding-right: 5.0000vw;
    padding-top: 2.7778vw;
    padding-bottom: 2.7778vw;
  }
  .slider-btn {
    width: 4.1667vw;
    height: 4.1667vw;
  }
  .member-slide {
    padding: 1.6667vw 1.1111vw;
  }
  .member-slide .info p {
    font-size: 2.7778vw;
  }
  .member-slide .img {
    width: 24.7222vw;
    height: 11.1111vw;
    margin-bottom: 1.6667vw;
  }
  .our-specs {
    margin-top: 4.1667vw;

    span {
      font-size: 3.3333vw;
      margin-bottom: 1.3889vw;
    }

    p {
      width: 100%;
      padding-top: 1.6667vw;
      padding-bottom: 1.6667vw;
      padding-left: 1.9444vw;
      padding-right: 1.9444vw;
      font-size: 3.3333vw;
    }

  }
  .main-title {
    font-size: 4.4444vw;
    margin-bottom: 2.6444vw;
  }
  .line .ball {
    width: 1.6667vw;
    height: 1.6667vw;
  }
  .line::after, .line::before {
    width: 1.3889vw;
    height: 1.3889vw;
  }
}